<<<<<<< HEAD
.carousel{
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel{
    width: 100%;
    transition: transform 0.5s ease-in-out;
}


#navbar{
    margin: 0px;
    padding:    0px;
    background-color: black;
    color: gold;
        
    display: flex;

=======
body{
estou escrevendo isso
.perovas

    
>>>>>>> 49bff06d3bdf8e7c81d70a174ca1e31621fb5d5f
}